/* 
*
{
    background-color: rgb(0, 0, 0);
}
*/
.trigger
{
    position: absolute;
    transform: translateZ(-499px);
    top: -550px;
    left: -1000px;
    width: 250px;
    height: 250px;
    /* outline: solid 2px rgb(0, 255, 0); */
    cursor: pointer;
    /* background-color: blue; */
}
.metaselector
{
    perspective: 1600px;
    transform-style: preserve-3d;
    mix-blend-mode: color-dodge;
    /* mix-blend-mode: lighten; */
}


.metascene
{
    /* transform: rotateY(-40deg); */
    transition: 0.15s;
    transform-style: preserve-3d;
}
.lottieselector
{
    transition: 0.15s;
    perspective: 1600px;
    transform-style: preserve-3d;
    /* mix-blend-mode: color-dodge; */
    mix-blend-mode: screen;
}

.lottiescene
{
    /* transform: rotateY(-40deg); */
    transition: 0.15s;
    transform-style: preserve-3d;
}
.lottie-1
{
    /* display: none; */
    top: -587px;
    left: -1025px;
    transform: translateZ(-500px);
    position: absolute;
    width: 407px;
    height: 1100px;
    filter: contrast(1.1) brightness(1.1);
    /* outline: solid 2px rgb(38, 255, 0); */
    border-radius: 10px;
    z-index: 9998;
    
    /* mix-blend-mode: normal; */
    /* mix-blend-mode:screen; */
}
.lottie-1:hover
{
    /* animation: border 0.06s linear infinite; */

}

@keyframes border
{
    0%
    {
        outline: solid 3px rgba(0, 153, 255, 0.623);
        /* outline: solid 3px rgba(38, 255, 0, 0.623); */

    }
    100%
    {
        outline: solid 1px rgba(0, 153, 255, 0.287);
        /* outline: solid 1px rgba(38, 255, 0, 0.267); */

    }
}


/* .metascene::before
{
    
    position: absolute;
    content: '';
    transform-style: preserve-3d;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: url(https://i.gifer.com/4RNk.gif); 
    background-size: 400px;
    transform: translate3d(10px, -200px, 10px) rotateX(0deg) scale(1);
    border: 3px solid #ea00ff;

} */

.electroshield
{
    top: 280px;
    left: 0px;
    z-index: 100;
    width: 529px;
    height: 1100px;
    position: absolute;
    /* background-color: rgba(0, 38, 255, 0.219); */
    /* outline: 1px solid rgb(0, 102, 255); */
    /* transition: 0.1s; */
    /* transition-delay: 0.8s; */
}
.blockers
{
    top: -560px;
    left: -1120px;
    transform: translateZ(-400px);
    position: absolute;

}
.electroshieldfx
{
    top: 290px;
    left: 0px;
    z-index: 100;
    width: 529px;
    height: 1100px;
    position: absolute;
    /* background-color: rgba(0, 38, 255, 0.219); */
    /* outline: 1px solid rgb(0, 102, 255); */
    /* transition: 0.1s; */
    /* transition-delay: 0.8s; */
}
.electroshield2
{
    top: -10px;
    left: 385px;
    z-index: 100;
    width: 100px;
    height: 200px;
    position: absolute;
    /* background-color: rgba(0, 38, 255, 0.219); */
    outline: 1px solid rgb(0, 102, 255);
    border-radius: 50% 0% 0% 50%;
    /* transition: 0.1s; */
    /* transition-delay: 0.8s; */
}
.electroshield3
{
    top: 10px;
    left: 70px;
    z-index: 100;
    width: 180px;
    height: 300px;
    position: absolute;
    background-color: rgba(0, 38, 255, 0);
    outline: 1px solid rgba(0, 102, 255, 0);
    border-radius: 0% 50% 50% 0%;
    display: block;
    /* outline: 1px solid rgb(0, 102, 255); */
    /* transition: 0.1s; */
    /* transition-delay: 0.8s; */
}
.electroshield4
{
    top: 220px;
    left: 430px;
    z-index: 100;
    width: 100px;
    height: 100px;
    position: absolute;
    /* background-color: rgba(0, 38, 255, 0.219); */
    /* outline: 1px solid rgb(0, 102, 255); */
    border-radius: 50%;
    /* transition: 0.1s; */
    /* transition-delay: 0.8s; */
}
.electroshield3.active888
{
    display: none;
}


.electroshield.active0770
{
    top: 0;
    left: -130px;
    width: 270px;
    height: 400px;
    /* background-color: rgba(0, 38, 255, 0.123);
    outline: 1px solid rgb(0, 102, 255); */
}

.svgclass2
{
    position: absolute;
    width: 77px;
    stroke-width: 1px;
    /* background-color: rgb(0, 0, 0); */
    transition: 0.7s;
    /* transform: scale(0); */
    /* filter: opacity(0); */
    stroke: rgb(0, 255, 0);
    fill: rgb(255, 145, 0);
    /* mix-blend-mode: color-dodge; */
}

.electrosashk
{
    top: -57px;
    left: 0px;
    /* top: 600px; */
    /* left: 1300px; */
    transform-style: preserve-3d;
    position: absolute;
    background-color: rgba(51, 99, 255, 0.253);
    transform: translateZ(-430px);
    width: 1000px;
    mix-blend-mode: color-dodge;
    /* mix-blend-mode: hard-light; */
    /* height: 10000px; */
    /* outline: solid 1px blue; */
}

.sashkelectro:hover .svgclass
{
    animation: fade 0.2s linear forwards;
    stroke: rgb(168, 220, 255);
    fill: rgba(51, 105, 255, 0.808);
    transition: 0.2s;
}

.svgclass
{
    animation: rev 0.5s linear forwards;
}

.svgclass.active5000
{
    stroke: rgb(168, 220, 255);
    fill: rgba(51, 105, 255, 0.808);
    animation: fade 0.2s linear forwards;
    transition: 0.2s;
}

.sashkelectro    
{
    /* border: solid 3px rgb(68, 103, 255); */
    /* background: rgba(115, 164, 255, 0.815); */
    position: absolute;
    /* margin-left: 30px; */
    width: 350px;
    height: 300px;
    /* outline: solid 0px rgb(0, 68, 255); */
    border-radius: 10px;
    border-top-right-radius: 80%;
    left: -30px;
    cursor: pointer;
    z-index: 1;
}
.sashkelectro:hover
{
    /* outline: solid 2px rgb(23, 85, 255); */
    transition: 0.5s;

}
.sashk
{
    /* display: none; */
    position: absolute;
    top: -560px;
    left: -1000px;
    transform: translateZ(-500px);
    /* transform-style: preserve-3d; */
    /* transition: 1s; */
    width: 440px;
    height: 1050px;
    /* outline: solid 2px rgb(0, 217, 255); */
    border-radius: 20px;
    /* background: rgb(0, 0, 0); */
    position: absolute;
    /* z-index: 1; */
    /* display: block; */
    /* display: none; */
    transition-delay: 1.5s;
    animation: intro 3s linear forwards;
    visibility: hidden;
    /* mix-blend-mode: screen; */
    /* filter: opacity(0); */

}
@keyframes intro
{
    99% {
      visibility: hidden;
    }
    100% {
        visibility: visible;
    }
  }
.sashk.active2000
{
    filter: opacity(1);
    transition-delay: 0s;
    /* z-index: -2; */
    /* display: block; */
}
.sashk.active2001
{

    display: none;
}


@keyframes foto
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

.imgsashk.active101
{
    transform: rotateY(0deg) scale(0);
    transition: 0.6s;
    /* transition: blur 1s; */
    filter: blur(10px) opacity(0); 
}
.imgsashk.active111
{
    animation: foto 0.5s linear forwards;
}

/* 
.sashk:hover .imgsashk
{
    transform: rotateY(0deg) scale(0.6);
    transition: 0.2s;
    filter: blur(10px) opacity(0);
}
*/


.imgsashk
{
    background-color: rgba(165, 42, 42, 0);
    position: absolute;
    transform: rotateY(0deg) scale(0.8);
    transition: 0.5s;
    filter: blur(0px);
}

/*
.sashkelectro:hover #layer1
{
    top: 8px;
    left: 100px;
}
.sashkelectro:hover #layer2
{
    top: 11px;
    left: 153px;
} 
 */

#s1

{
    top: 8px;
    left: 100px;
    transition-delay: 0.1s;

}
#s2
{
    top: 11px;
    left: 153px;
    transition-delay: 0.11s;

}
#s3
{
    top: 63px;
    left: 98px;
    transition-delay: 0.12s;
}
#s4
{
    top: 56px;
    left: 121px;
    transition-delay: 0.13s;
}
#s5
{
    top: 60px;
    left: 185px;
    transition-delay: 0.14s;
}
#s6
{
    top: 111px;
    left: 105px;
    transition-delay: 0.15s;
}
#s7
{
    top: 111px;
    left: 153px;
    transition-delay: 0.16s;
}
#s8
{
    top: 125px;
    left: 217px;
    transition-delay: 0.17s;
}
#s9
{
    top: 205px;
    left: 84px;
    transition-delay: 0.18s;
}
#s10
{
    top: 166px;
    left: 121px;
    transition-delay: 0.19s;
    
    
}
#s11
{
    top: 166px;
    left: 185px;
    transition-delay: 0.20s;
    
}
#s12
{
    top: 176px;
    left: 249px;
    transition-delay: 0.21s;
}
#s13
{
    top: 193px;
    left: 312px;
    transition-delay: 0.22s;
    
}
#s14
{
    top: 221px;
    left: 90px;
    transition-delay: 0.23s;
    /* border: solid 1px red;  */
}
#s15
{
    top: 221px;
    left: 153px;
    transition-delay: 0.24s;
}
#s16
{
    top: 221px;
    left: 217px;
    transition-delay: 0.25s;
}
#s17
{
    top: 221px;
    left: 281px;
    transition-delay: 0.26s;
    
}
#s18
{
    top: 277px;
    left: 69px;
    transition-delay: 0.27s;
    
}
#s19
{
    top: 277px;
    left: 122px;
    transition-delay: 0.28s;
}
#s20
{
    top: 277px;
    left: 185px;
    transition-delay: 0.29s;
}
#s21
{
    top: 277px;
    left: 249px;
    transition-delay: 0.30s;
    
}
#s22
{
    top: 279px;
    left: 313px;
    transition-delay: 0.31s;
}
#s23
{
    top: 339px;
    left: 57px;
    transition-delay: 0.32s;
    
}
#s24
{
    top: 332px;
    left: 90px;
    transition-delay: 0.33s;
}
#s25
{
    top: 332px;
    left: 154px;
    transition-delay: 0.34s;
}
#s26
{
    top: 332px;
    left: 216px;
    transition-delay: 0.35s;
}
#s27
{
    top: 332px;
    left: 280px;
    transition-delay: 0.36s;
}
#s28
{
    top: 347px;
    left: 344px;
    transition-delay: 0.37s;
    
}
#s29
{
    top: 432px;
    left: 60px;
    transition-delay: 0.38s;
}
#s30
{
    top: 387px;
    left: 58px;
    transition-delay: 0.39s;
    
}
#s31
{
    top: 388px;
    left: 122px;
    transition-delay: 0.40s;
}
#s32
{
    top: 388px;
    left: 184px;
    transition-delay: 0.41s;
}
#s33
{
    top: 388px;
    left: 248px;
    transition-delay: 0.42s;
}
#s33
{
    top: 388px;
    left: 248px;
    transition-delay: 0.43s;
}
#s34
{
    top: 388px;
    left: 312px;
    transition-delay: 0.44s;
    /* outline: 1px solid red; */
}
#s35
{
    top: 442px;
    left: 44px;
    transition-delay: 0.45s;
    /* outline: 1px solid red; */
}
#s36
{
    top: 444px;
    left: 153px;
    transition-delay: 0.46s;
    /* outline: 1px solid red; */
}
#s37
{
    top: 443px;
    left: 90px;
    transition-delay: 0.47s;
    /* outline: 1px solid red; */
}
#s38
{
    top: 442px;
    left: 217px;
    transition-delay: 0.48s;
    /* outline: 1px solid red; */
}
#s39
{
    top: 442px;
    left: 289px;
    transition-delay: 0.49s;
    /* outline: 2px solid red; */
}
#s40
{
    top: 508px;
    left: 45px;
    transition-delay: 0.50s;
    /* border: solid 1px red; */
    
}
#s41
{
    top: 497px;
    left: 58px;
    transition-delay: 0.51s;
    /* outline: 2px solid red; */
    
}
#s42
{
    top: 499px;
    left: 122px;
    transition-delay: 0.51s;
    /* border: solid 1px red; */
}

#s43
{
    top: 499px;
    left: 186px;
    transition-delay: 0.52s;
}
#s44
{
    top: 498px;
    left: 246px;
    transition-delay: 0.53s;
}

#s45_2
{
    top: 506px;
    left: 310px;
    transition-delay: 0.53s;
    /* border: solid 1px red; */
}

#s45
{
    top: 554px;
    left: 50px;
    transition-delay: 0.54s;
    /* outline: 2px solid red; */
}
#s46
{
    top: 553px;
    left: 89px;
    transition-delay: 0.55s;
    
}
#s47
{
    top: 554px;
    left: 153px;
    transition-delay: 0.56s;
    
}
#s48
{
    top: 554px;
    left: 215px;
    transition-delay: 0.57s;
}
#s49
{
    top: 552px;
    left: 276px;
    transition-delay: 0.58s;
    /* border: solid 1px red; */
    
}
#s50
{
    top: 621px;
    left: 50px;
    transition-delay: 0.59s;
    /* outline: solid 2px rgb(0, 255, 191); */
}
#s51
{
    top: 609px;
    left: 61px;
    transition-delay: 0.60s;
    
    
    
}
#s52
{
    top: 609px;
    left: 121px;
    transition-delay: 0.61s;
    
}
#s53
{
    top: 609px;
    left: 183px;
    transition-delay: 0.62s;
    /* border: solid 1px red; */
}
#s54
{
    top: 609px;
    left: 245px;
    transition-delay: 0.63s;
    
    
}
#s55
{
    top: 664px;
    left: 51px;
    transition-delay: 0.64s;
    
    
}
#s56
{
    top: 664px;
    left: 93px;
    transition-delay: 0.65s;
    /* border: solid 1px red; */
    
    
}
#s57
{
    top: 664px;
    left: 183px;
    transition-delay: 0.66s;
    
}
#s58
{
    top: 664px;
    left: 216px;
    transition-delay: 0.67s;
    
    
}
#s59
{
    top: 727px;
    left: 306px;
    transition-delay: 0.67s;
    
    /* ВОТ ОНА */
    
}
#s60
{
    top: 719px;
    left: 63px;
    transition-delay: 0.68s;
    
    
}
#s61
{
    top: 722px;
    left: 124px;
    transition-delay: 0.69s;
    
}
#s62
{
    top: 720px;
    left: 216px;
    transition-delay: 0.70s;
    
    
}
#s63
{
    top: 719px;
    left: 248px;
    transition-delay: 0.71s;
    
    
    
}
#s64
{
    top: 670px;
    left: 279px;
    transition-delay: 0.72s;
    
}
#s65
{
    top: 777px;
    left: 62px;
    transition-delay: 0.73s;
    /* border: solid 1px red; */

    
}
#s66
{
    top: 774px;
    left: 92px;
    transition-delay: 0.74s;
    /* border: solid 1px red; */
}
#s67
{
    top: 775px;
    left: 142px;
    transition-delay: 0.75s;
    /* border: solid 10px red; */
    width: 0;
}
#s68
{
    top: 773px;
    left: 244px;
    transition-delay: 0.76s;
    /* border: solid 1px red; */
    
}
#s69
{
    top: 773px;
    left: 279px;
    transition-delay: 0.77s;
    /* border: solid 1px red; */
    
}
#s70
{
    top: 782px;
    left: 343px;
    transition-delay: 0.78s;
    /* border: solid 1px red; коленка */
    
}
#s71
{
    top: 830px;
    left: 60px;
    transition-delay: 0.78s;
    /* border: solid 1px red; */
}
#s72
{
    top: 835px;
    left: 124px;
    transition-delay: 0.79s;
    /* border: solid 1px red; */
    
}
#s73
{
    top: 835px;
    left: 160px;
    transition-delay: 0.80s;
    /* border: solid 1px red; ниже */
}
#s74
{
    top: 829px;
    left: 279px;
    transition-delay: 0.80s;
    /* border: solid 1px red; */
}
#s75
{
    top: 828px;
    left: 311px;
    transition-delay: 0.81s;
    /* border: solid 1px red; */
}
#s76
{
    top: 839px;
    left: 375px;
    transition-delay: 0.82s;
    /* border: solid 1px red; */
}
#s77
{
    top: 890px;
    left: 43px;
    transition-delay: 0.83s;
    /* border: solid 1px red; */
}
#s78
{
    top: 883px;
    left: 92px;
    transition-delay: 0.84s;
    /* border: solid 1px red; */
}
#s79
{
    top: 890px;
    left: 143px;
    transition-delay: 0.84s;
    /* border: solid 1px red; ниже2 */
}
#s80
{
    top: 890px;
    left: 43px;
    transition-delay: 0.83s;
    /* border: solid 1px red; ниже3 */
}
#s81
{
    top: 882px;
    left: 305px;
    transition-delay: 0.86s;
    /* border: solid 1px red; */
}
#s82
{
    top: 884px;
    left: 342px;
    transition-delay: 0.87s;
    /* border: solid 1px red; */
}
#s83
{
    top: 900px;
    left: 407px;
    transition-delay: 0.88s;
    /* border: solid 1px red; */
}
#s84
{
    top: 949px;
    left: 33px;
    transition-delay: 0.89s;
    /* border: solid 1px red; */
    
}
#s85
{
    top: 939px;
    left: 60px;
    transition-delay: 0.90s;
    /* border: solid 1px red; */
}
#s86
{
    top: 940px;
    left: 338px;
    transition-delay: 0.91s;
    /* border: solid 1px red; */
}
#s87
{
    top: 939px;
    left: 375px;
    transition-delay: 0.92s;
    /* border: solid 1px red; */
    /* border: solid 1px red; */
}
#s88
{
    top: 993px;
    left: 50px;
    transition-delay: 0.93s;
    /* border: solid 1px red; */
}
#s89
{
    top: 994px;
    left: 353px;
    transition-delay: 0.94s;
    
}
#s90
{
    top: 1006px;
    left: 407px;
    transition-delay: 0.95s;
    /* border: solid 1px red; */
    
}
#s91
{
    top: 8px;
    left: 132px;
    transition-delay: 0.1s;
    /* border: solid 2px red; */
}
#s92
{
    top: 239px;
    left: 82px;
    transition-delay: 0.23s;
    /* border: solid 2px red; */
}

/* 
video
{
    position: relative;
    top: 2000px;
}
*/

@keyframes fade
{
    0%
    {
        filter: opacity(0);
        transform: scale(0);
    }
    10%
    {
        filter: opacity(1);
        transform: scale(1);
    }
    50%
    {
        filter: opacity(1) brightness(1);
        transform: scale(1);
    }
    55%
    {
        filter: opacity(1) brightness(2);
        transform: scale(1);
    }
    65%
    {
        filter: opacity(1) brightness(1);
        transform: scale(1);
    }


    80%
    {
        filter: opacity(1);
        transform: scale(1); 
    }
    100%
    {
        filter: opacity(0);
        transform: scale(0); 
    }

}
/* @keyframes rev
{

    0%
    {
        filter: opacity(0) brightness(1);
        transform: scale(0);
    }

    50%
    {
        filter: opacity(1) brightness(1);
        transform: scale(1);
    }
    55%
    {
        filter: opacity(1) brightness(2);
        transform: scale(1);
    }
    70%
    {
        filter: opacity(1) brightness(1);
        transform: scale(1);
    }
    80%
    {
        filter: opacity(1) brightness(1);
        transform: scale(1); 
    }
    100%
    {
        filter: opacity(0) brightness(1);
        transform: scale(0); 
    }
        



} */


@keyframes rev2
{

    0%
    {
        filter: opacity(0) brightness(1);
        transform: scale(0);
    }

    50%
    {
        filter: opacity(1) brightness(1);
        transform: scale(1);
    }
    55%
    {
        filter: opacity(1) brightness(2);
        transform: scale(1);
    }
    70%
    {
        filter: opacity(1) brightness(1);
        transform: scale(1);
    }
    80%
    {
        filter: opacity(1) brightness(1);
        transform: scale(1); 
    }
    100%
    {
        filter: opacity(0) brightness(1);
        transform: scale(0); 
    }     
}
