.favorite
{
    position: absolute;
    background: rgba(0, 0, 0, 0.363);
    text-align: center;
    border-radius: 100px;
    right: 440px;
    transform: scale(1.5);
    top: -270px;
    box-shadow: 0 0 3px 0 rgb(255, 255, 255);
    border: 2px solid #ffffff;
    width: 100px;
    height: 100px;
    transition: 0.5s;
    cursor: pointer;
    border: 3px solid #ffffff;
    /* overflow: hidden; */


    background:rgba(0, 0, 0, 0.055);
    position: absolute;
    /* width: 155px; */
    /* height: 155px; */
    /* border: solid 4px white; */
    /* border-radius: 100px; */
    border-radius: 50%;
    /* transform: translate3d(-560px, -110px, 0px); */
    z-index: 20;
    transition: 0.5s;

    background: linear-gradient(
      180deg,
      /* rgba(255,255,255,0.6) 0%, */
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.322) 40%,
      rgba(255, 255, 255, 0.185) 45%,
      rgba(255,255,255,0.1) 50%,
      rgba(0,0,0,0.0) 50%,
      rgba(0,0,0,0.0) 50%,
      rgba(0,0,0,0.0) 60%,
      rgba(25, 114, 248, 0.438) 100%
    ); 
    border-image: none;
    border-style: inset;
    

}
.favorite:hover
{
    transform: scale(1.7);
    border: solid 3px rgb(255, 255, 255);
}
.favorite.active2:hover
{
    transform: scale(1.5);
}
.favoritegreen
{

    transform: translate3d(-3px, -3px, 0px);
    background:rgba(60, 255, 0, 0);
    position: absolute;
    /* transform: scale(1.5); */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* transform: translate3d(0px, 0px, 0); */
    z-index: -10;
    transition: 0.5s;
    border: solid 5px rgba(60, 255, 0, 0);
    mix-blend-mode: lighten;
    display: block;
    
}
.favorite:hover .favoritegreen
{

    background:rgba(19, 113, 255, 0.192);
    box-shadow: 0 0 2px rgb(25, 114, 248),
    /* 0 0 5px rgb(25, 114, 248), */
    /* 0 0 12px rgb(25, 114, 248), */
    0 0 22px rgb(25, 114, 248)
    ;

}
.favorite.active2
{
    /* transform: scale(1.5); */
    position: absolute;
    /* background: rgba(0, 0, 0, 0.603);
    text-align: center;
    border-radius: 15px;
    right: -360px;
    top: -430px;
    box-shadow: 0 0 3px 0 rgb(255, 255, 255);
    border: 2px solid #ffffff;
    width: 588px;
    height: 530px;
    opacity: 1;
    transition-delay: opacity 1s; */
}
/* .favorite.active2 .favoritegreen
{
    border-radius: 15px;
    width: 588px;
    height: 530px;
    opacity: 0;
    
} */



.favorite iframe
{
    position: absolute;
    width: 0px;
    height: 0px;
    transition: 0.5s;
    margin: 0;
    padding: 0;
    transition: 0.2s;
    transition-delay: 0s;
    display: none;
    
    
    
}
.favorite.active2 iframe
{
    position: absolute;
    width: 384px;
    height: 216px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255); 
    /* box-shadow: 0 0 3px 0 rgb(255, 255, 255); */
    display: block;
}

.v1 
{
    top: -200px;
    position: absolute;
    left: 120px;
    transition: 0.5s;
    
}
.v2 
{
    top: -50px;
    position: absolute;
    left: 510px;
    transition: 0.5s;
}
.v3 
{
    position: absolute;
    left: 310px;
    top: 130px;
    transition: 0.5s;
}

.favorite #v1
{
    transition-delay: 0s;
    
}
.favorite #v2
{
    transition-delay: 0s;
}
.favorite #v3
{
    transition-delay: 0s;
}

.favorite.active2 #v1
{
    transition-delay: 0.2s;
}
.favorite.active2 #v2
{
    transition-delay: 0.4s;
}
.favorite.active2 #v3
{
    transition-delay: 0.6s;
}






.v1:hover
{
    z-index: 10;
    transform: scale(1.1)
}
.v2:hover
{
    z-index: 10;
    transform: scale(1.1)
}
.v3:hover
{
    z-index: 10;
    transform: scale(1.1)
}

.fav
{
    position: absolute;
    width: 70px;
    top: 16px;
    left: 11px;
    transform: scale(1);
    filter: invert(1);
    /* animation: rotate 10s infinite linear; */
    cursor: pointer;
    transition: 0.5s;
}

#vk_playlist_-2000990070_13990070
        {
            top: 50px;
            left: 120px;
            position: absolute;
            display: none;

        }
.favorite.active2 #vk_playlist_-2000990070_13990070
{
    display: block;
}
.choi
{
    transform-style: preserve-3d;
    top: -590px;
    left: 220px;
    position: absolute;
    outline: solid 2px rgba(0, 247, 255, 0.685);
    visibility: hidden;
}
.choi.active5432
{
    
    visibility: visible;

}
/* .favorite2.active4321 .choi
{

    top: -590px;
    left: 220px;
    display: block;
    position: absolute;

} */


/* .favorite.active2 .fav
{
    position: absolute;
    transform: scale(1);
    filter: invert(1);
    transition: 0.5s;
    top: 200px;
    left: -100px;
    animation: rotate 10s infinite linear;
}
.favorite:hover .fav 
{
    animation: animate 10s infinite linear;
} */
